@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
$primary_color:#4B321D;

%center{
    display: flex;
    align-items: center;
}
@mixin text_changible($f_size,$f_weight){
    font-size: $f_size;
    font-weight: $f_weight;
}

.about{
    padding: 90px 60px;
    @extend %center;
    flex-wrap: wrap;
    justify-content: space-between;
    .about__img{
        max-width: 590px;
        img{
            width: 100%;
        }
    }
    &__info{
        max-width: 630px;
       p{
        @include text_changible(38px,400 );
        max-width: 600px;
       }
       .about__info-btn{
        border-radius: 3px;
        border: 2px solid #4B321D;
        padding: 11px 17px;
        color: #4B321D;
        @include text_changible(20px,400 );
        margin-top: 45px;
        cursor: pointer;
       }
    }
}

@media (min-width:990px) and (max-width:1309px){
    .about{
        display: flex;
        justify-content: center;
        gap: 30px;
        .about__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .about__info{
            display: block;
            p{
                width: 100%;
            }
        }
    }
}

@media (min-width:770px) and (max-width:989px){
    .about{
        display: flex;
        justify-content: center;
        gap: 30px;
        .about__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .about__info{
            display: block;
            p{
                width: 100%;
            }
        }
    }
}

@media (max-width:500px){
    .about{
        display: flex;
        justify-content: center;
        gap: 30px;
        .about__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .about__info{
            p{
                font-size: 40px;
            }
        }
    }
}